@use '../../../../_abstracts/fonts' as *;
@use '../../../../_abstracts/colors' as *;

// Inbox-body - attachments
.disableTextSelection.X4EZx.QMRWk {
  // display: none;

  margin-left: 0 !important;

  // all nested <div>s
  div {
    height: fit-content;
  }

  // content wrapper
  > .pTvY_.cCkOR.disableTextSelection.dapZe {
    justify-content: flex-end;
    padding-right: 40px !important;
    padding-bottom: 10px !important;

    // attached items
    > .GmWAd.rpi8D {
      width: 30%;
      margin-right: 14px !important;
      padding: 8px !important;
      background-color: transparent;

      * {
        background-color: transparent;
      }

      // item content
      .GmWAd.v3j03 {
        width: 100%;
        border: none;
        border-radius: 0;
        border-bottom: 2px solid $color-4;

        // file-icon
        > .zV7vG.L2IdJ > i {
          width: $user-fs-lg;
          height: $user-fs-lg;
        }

        // file-name
        > .yUXK7.AVFDW.F4Hsb.ZreOl {
          width: unset;
          margin-left: 18px !important;
          font-size: 38px;
          color: var(--black);
        }
      }
    }

    // number of additonal attachments
    > .gy2aJ.Ejrkd.pTvY_._EBYO.evkUo {
      width: fit-content;
      height: calc($user-fs-lg - 4px);
      // margin-left: 10px !important;
      font-size: $user-fs-lg;
      color: var(--black);
    }
  }
}
