// Read page header > sender

.uSg02 .x9jfA {
  margin: 20px 0 20px 10px !important;

  // persona button
  > .ze1hM.l8Tnu {
    top: 0;
  }

  // name and email
  .OZZZK {
    // .x9jfA > .bz1XJ > div > span > span > div > span.OZZZK{}
    margin-left: 10px !important;
  }
}
