@use '../_abstracts/' as *;

#sender-address {
  display: none;
  position: fixed;
  box-sizing: border-box;
  overflow-wrap: break-word;
  top: 0;
  right: 0;
  z-index: 999;
  width: 100vw;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 32px;
  font-weight: bold;
  padding: 8px;
  letter-spacing: 2.4px;
  color: var(--black);
  background-color: var(--white);
  border: 3px solid $color-2;
}
