// Read page - attachments - images

.E_kRz.y_q78 {
  margin-bottom: var(--page-30);
  padding-bottom: var(--page-20);
  border-bottom: var(--read-atach-bdr-width) solid var(--read-atach-bdr-color);

  // title & filesize overlay ( remove )
  //
  //       *** NOTE: Disable 'mouseout' event listener to update ***
  //
  ._2Gink_U0fxeuCK9FY0AvaC.LqQLtlFtGuYxUmpHUptpk {
    display: none;
  }
}
