// User-defined colors
$color-1: red;
$color-2: blue;
$color-3: LightGoldenRodYellow;
$color-4: var(--themePrimary);
// $color-5: var(--colorStatusWarningBackground1);
// $color-5: var(--colorStatusWarningBackground2);
$color-5: var(--colorPaletteYellowBackground2);

$user-text-color: var(--black);
$user-bg: var(--white);
